@font-face {
    font-family: pixelada;
    src: url(/fuentes/pixelmix.ttf);
}

@keyframes ArribaAbajo {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
    }
  }

* {
    font-family: pixelada;
}

header{
    height: 18%;
}

.texto{
    font-size: 10vh;
    margin: 0;
    color: aliceblue;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(55, 180, 97);
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

#fila1{
    display: flex;
    justify-content: space-around;
    width: 561px;
    height: 353px;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.etiqueta{
    animation: ArribaAbajo 1.5s ease-in-out infinite;
    position: relative;
    color: aliceblue;
    font-size: 32px;
    font-weight: bold;
}

.seleccion,
.resultado{
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.seleccion{
    border: solid white;
}

#fila3{
    padding: 20px;
    padding-bottom: 0px;
    position: absolute;
    bottom: -17px;
}

.boton_ppt{
    height:250px;
    width: 150px;
    border: transparent;
    background-color: transparent;
    transition-duration: 0.3s;
}


#boton_piedra{
    background-image: url(/imagenes/piedra.png);
}

#boton_papel{
    background-image: url(/imagenes/papel.png);
    width: 187px;
}

#boton_tijera{
    background-image: url(/imagenes/tijera.png);
}

/** animaciones */
.boton_ppt:hover{
    transform: translateY(-14px);
}

.boton_ppt:active{
    transform: translateY(15px);
    transition-duration: 0,1s;
}